<div class="col-lg-12">
    <div class="col-lg-2">
        <img src="@Href("~/gx/Author.PNG")" height="200" class="img-circle" alt="Shivam Srivastava">
    </div>
    <div class="col-lg-10">
        <h1>Shivam Srivastava</h1>
        <p>
            I’m your host, Shivam Srivastava, responsible for just about everything on this site. If you have any questions related to suggesting articles or other feedback or for general help like consulting services please mail us to <b> @("shivam@techshoolin.com")</b> we have very good team to help you regarding your problems.
        </p>
        <p>
           My Blog is very specific to Asp.net, C#, SQL Server, VB.NET, JavaScript, jQuery, html, AngularJS, WCF, XML, XSLT, Web Service…etc for Web Designers and Developers.
        </p>
    </div>
</div>