@model MVCBlog.Website.Models.OutputModels.Blog.IndexModel
@if (this.Model.TotalPages > 1)
{
    int nextPage = -1;

    if (!this.Model.CurrentPage.HasValue)
    {
        nextPage = 2;
    }
    else if (this.Model.CurrentPage.HasValue && this.Model.CurrentPage.Value < this.Model.TotalPages)
    {
        nextPage = this.Model.CurrentPage.Value + 1;
    }
    <nav>
        <ul class="pager">
            @if (this.Model.CurrentPage.HasValue && this.Model.CurrentPage.Value > 1)
            {
                <li class="previous">   @Html.ActionLink(Common.PreviousPage, MVC.Blog.Index(this.Model.Tag, this.Model.Search, this.Model.CurrentPage.Value - 1), new { rel = "prev" })</li>
            }
            @if (nextPage != -1)
            {
                <li class="next">
                    @Html.ActionLink(Common.NextPage, MVC.Blog.Index(this.Model.Tag, this.Model.Search, nextPage), new { rel = "next" })
                </li>
            }
        </ul>
    </nav>
}